<h1>PASTE A YOUTUBE LINK TO DAILY SONG. IT WILL PLAY AT 11:15. SHARP!</h1>
<%= form_tag("/", method: :post) do %>
  <input name="url" type="text" placeholder="https://www.youtube.com/watch?v=_Qz5yhNAZps" />
  <input type="submit" value="OK!" />
<%= end %>
<button type="button" id="play-now">Play NOW!</button>
<div id="player"></div>
